APP_API_ID=<ID>
APP_API_HASH=<HASH>
BOT_TOKEN=<TOEKN>
SESSION_NAME=<NAME>
ADMIN_ID=<ADMIN_USER_ID>

PROXY=<PROTOCOL://IP:PORT>
BACKUP_PROXY=<PROTOCOL://IP:PORT>

MAX_CACHE_SIZE=200M

# some optional logging settings: (more available options can be found in logsetup.py)
LOG_LEVEL=info
LOG_SAVE_ROOT=false
