API_ID=<API_ID>
API_HASH=<API_HASH>
ADMIN_ID=<BOT_ADMIN_ID>
ADMIN_USERNAME=@<@ADMIN_USERNAME>
HOME_ID=<GROUP_TELEGRAM_ID>
DATABASE_NAME=<DatabaseName.db>
INSTA_USERNAME=<Username>
INSTA_PASSWORD=<Password>


#PROXY is for bot connection and IR_PROXY is for features that need IR connection.
IR_PROXY=<IP:PORT> 
PROXY=<IP:PORT>
