APP_API_ID=<ID>
APP_API_HASH=<HASH>
BOT_TOKEN=<TOEKN>
SESSION_NAME=<NAME>
ADMIN_ID=<ADMIN_USER_ID>

BOT_ALLOW_NO_PROXY=yes
BOT_PROXY_LIST=["PROTOCOL://HOST:PORT", "PROTOCOL://HOST:PORT"]
EXIT_ON_DISCONNECTION_LOOP=no

FEATURE_ALLOW_NO_PROXY=yes
FEATURE_PROXY_LIST=["PROTOCOL://HOST:PORT", "PROTOCOL://HOST:PORT"]

INSTADL_COBALT_API_URL=http://127.0.0.1:8000

MAX_TEMP_SIZE_MEM=100M
MAX_TEMP_SIZE_DISK=5G

# some optional logging settings: (more available options can be found in logsetup.py)
LOG_LEVEL=info
LOG_SAVE_ROOT=no
